.filter_wrapper {
  background-color: var(--color-white);
  color: var(--material-black);
  box-shadow: var(--card-box-shadow);
  height: 85vh;
  overflow-y: scroll;
}

.filter_wrapper :is(h3, h4) {
  font-weight: 600;
  /* color: var(--primary-color); */
}
.btn__primary_dark {
  background-color: var(--primary-color-dark);
}
.filter_wrapper::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
.btn__close_modal {
  color: var(--primary-color-dark);
  display: none;
  font-size: 1.5rem;
}

.filter_wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-white);
}

.filter_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 10px;
}

.input_slider {
  accent-color: var(--primary-color-dark);
}

input[type="checkbox"] {
  accent-color: var(--primary-color-dark);
}
input[type="radio"] {
  accent-color: var(--primary-color-dark);
}

@media screen and (max-width: 900px) {
  .filter_wrapper {
    width: 100%;
    margin: 0;
  }
  .btn__close_modal {
    display: block;
  }
}
