.collection_list {
  transition: all 0.3s linear;
}

.collection {
  width: calc(19 * var(--size-9));
  /* height: calc(19 * var(--size-9)); */
  /* overflow: hidden; */
  box-shadow: var(--card-box-shadow);
  position: relative;
  transition: all 0.2s linear;
}

.main_collection h2,
.main_popular h2 {
  color: var(--material-dark);
}

@media screen and (max-width: 550px) {
  .collection {
    width: calc(17 * var(--size-9));
  }
  .main_collection h2,
  .main_popular h2 {
    font-size: 1.8rem;
    margin-block: 1rem;
  }
  .section_wrapper {
    padding: 0;
  }
  .collection img {
    width: 80%;
  }
}
