.btn-profile-nav {
  cursor: pointer;
}
.tab-profile-active {
  text-decoration: underline;
  background-color: var(--primary-color-dark);
  color: var(--color-white);
}

@media screen and (max-width: 480px) {
  .btn-profile-nav {
    padding: 0.75rem 1rem;
  }
}
