.profile {
  box-shadow: var(--card-box-shadow);
}
.tab-display {
  /* border: 1px solid black;  */
  box-shadow: var(--card-box-shadow);
  padding: 3rem;
  width: 30rem;
  height: 25rem;
  overflow-y: auto;
}

.btn-primary-dark {
  background-color: var(--primary-color-dark);
}

.btn-order {
  width: 10rem;
}

.list-order {
  /* border: 1px solid black; */
  box-shadow: var(--card-box-shadow);
}
.img-order {
  max-width: 3.5rem;
  height: auto;
}

.address-name {
  font-size: 1.1rem;
}

.address-container {
  box-shadow: var(--card-box-shadow);
  gap: 0.35rem;
}

.address-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-display::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

.tab-display::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-white);
}

.tab-display::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
  border-radius: 10px;
}

.btn-address-cta {
  right: 10px;
}

@media screen and (max-width: 480px) {
  .tab-display {
    width: 100%;
  }
  .tab-display h3 {
    font-size: 1.5rem;
  }
  .tab-display li,
  .tab-display span {
    font-size: 1.25rem;
  }
  .btn-address {
    display: none;
  }
  .order-details:is(span) {
    font-size: 0.9rem;
  }
}
