/* Products */

.product {
  width: calc(16 * var(--size-9));
  cursor: pointer;
}

/* Overwrite card properties */

.card .card__img {
  margin: var(--size-0);
  max-width: 100%;
  height: calc(10 * var(--size-9));
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.card__img img {
  height: 100%;
  object-fit: contain;
}

.card .card__body {
  margin: var(--size-0);
}

.card .card__badge {
  border-radius: var(--radius-md);
  background-color: var(--primary-color-dark);
  padding: var(--size-4) var(--size-5);
  top: var(--size-7);
  left: var(--size-7);
}

.card__text {
  font-size: var(--size-9);
  line-height: 1.2;
}

.card__title {
  word-wrap: break-word;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.card__price {
  font-size: 1.2rem;
}

.btn__primary_dark {
  background-color: var(--primary-color-dark);
}

.btn_wishlist_wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.fast_delivery {
  background-color: var(--btn-success);
  border-radius: var(--radius-round);
  font-size: 12px;
}

.above_four_rating {
  color: var(--input-success);
}

.above_three_rating {
  color: var(--btn-warning);
}
.below_three_rating {
  color: var(--btn-danger);
}
