footer {
  background-color: var(--material-black-dark);
  gap: var(--size-9);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  max-width: calc(622.75rem * var(--size-9));
  padding-inline: var(--size-13);
  align-content: center;
}
.footer {
  color: var(--color-white);
  background-color: var(--material-black-dark);
}

.footer_info {
  font-weight: var(--weight-semibold);
}

.footer_copyright {
  font-weight: var(--weight-medium);
  font-size: var(--size-9);
}

.footer_text {
  font-size: var(--size-10);
  font-weight: var(--weight-semibold);
}
.footer_text a {
  text-decoration: underline;
}

.footer_link {
  gap: var(--size-11);
}

.footer_link li a i {
  font-size: var(--size-11);
}

.footer_additional,
.footer_social {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-11);
  justify-content: flex-start;
}

.footer a:hover {
  /* color: var(--secondary-color-dark); */
}

@media screen and (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
    gap: var(--size-13);
  }
}
