.btn--primary-dark {
  background-color: var(--primary-color-dark);
}
.btn--outline-dark {
  border: 2px solid var(--primary-color-dark);
}
.btn--outline-dark:hover {
  color: var(--color-white);
  background-color: var(--primary-color-dark);
}
